:root {
    --background-color: cornflowerblue;
    /* panel colors */
    --panel-background-color: lightgoldenrodyellow;
    --panel-border-color: burlywood;
    /* footer colors */
    --footer-button-background-color: lightblue;
    --footer-button-hover-color: goldenrod;
    /* board colors */
    --board-background-color: bisque;
    --board-border-color: burlywood;
    /* player colors */
    --player-0-color: white;
    --player-1-color: green;
    --player-2-color: blue;

}

body {
    background-color: var(--background-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.app-container {
    width: 800px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -400px;
}

.panel {
    position: absolute;
    background-color: var(--panel-background-color);
    border: 8px solid var(--panel-border-color);
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.header {
    left: 400px;
    top: -35px;
    height: 67px;
    width: 300px;
    margin-left: -175px;
}

.footer {
    left: 50%;
    top: 563px;
    height: 80px;
    width: 300px;
    margin-left: -170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer button {
    position: relative;
    left: 1%;
    top: 20%;
    margin-left: 78px;
    width: 132px;
    height: 50px;
    background-color: var(--footer-button-background-color);
    font-size: 20px;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    border: 5px solid chocolate;
    font-weight: bold;
}

.footer button:hover {
    background-color: var(--footer-button-hover-color);
    
}

.header-text {
    font-size: 23px;
    font-weight: bold;
    width: 144px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    width: 515px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 20px;
    background-color: var(--board-background-color);
    border: 8px solid var(--board-border-color);
    border-radius: 8%;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gameCircle {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 55%;
    border: 5px solid black;
}

.player_0 {
    background-color: var(--player-0-color);
}

.player_1 {
    background-color: var(--player-1-color);
}

.player_2 {
    background-color: var(--player-2-color);
}